<h2>Desarrollo Digital</h2>
<p>La Fundación Nicaragua Digital tiene como objetivo desarrollar y promover el uso innovativo de las tecnologías digitales para mejorar el entorno socieconomico del país.</p>

<h2>Proyectos</h2>
<ul>
  <li>Nicaragua Online</li>
  <li>Nicaragua GIS</li>
  <li>Academia Digital</li>
</ul>

<p>Puede contactarnos por <a href="mailto:montenegrosoftware@gmail.com">correo</a> o cualquiera de nuestras redes sociales.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://facebook.com/Fundación-Nicaragua-Digital-240047426577586/">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/cybernicaragua">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://instagram.com">Instagram</a>
  </li>
</ul>
